In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score

In [10]:
import sqlite3
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)


# Create db connection.
cnx = sqlite3.connect('data/database.sqlite')

In [11]:
df_league = pd.read_sql_query("SELECT * FROM League", cnx) 

seasons = ['2015/2016','2014/2015','2013/2014','2012/2013','2011/2012','2010/2011','2009/2010']
leagues_id = [21518,1729]

In [4]:
df_league

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

## Taking a look to the Match Table

First of all we filter just the games of the desire league and season

## Cleaning names of teams

In [5]:
import stringdist

# Normalize names 
def normalize_team_names(y):
    teams = []
    for t in list(y):
        tt = t.lower().split()
        rem = []
        cont=0
        #print(tt)
        for el in tt:
            cont +=1
            if el in ['athletico','atletico','athlético','atlético','atl','ath','athletic']: 
                if cont < len(tt):
                    tt[cont]='atl'+tt[cont]
            if el in ['manchester','man','sporting','sp','deportivo','la','de','real','fc','cf','ud','las','cd','balompié','rc','de','athletico','atletico','athlético','atlético','atl','ath','athletic']:
                rem.append(el)
            
                #print(tt)
        if rem != []:
            for r in rem:
                tt.remove(r)
        
        if len(tt)>1:
            if len(tt[0])>len(tt[1]):
                t = tt[0]
            else:
                t = tt[1]
        else:
            t=tt[0]
        #print(t)  
        teams.append(t)
    return teams

#Change name x for the most similar name in the teams_normalized list.
def func(x,teams_normalized):
    dist =0
    distmin=10
    xt = x.lower().split()
    rem = []
    cont=0
    for el in xt:
        cont +=1
        if el in ['athletico','atletico','athlético','atlético','atl','ath','athletic']:
            if cont < len(xt):
                xt[cont]='atl'+xt[cont]
        if el in ['manchester','man','sporting','sp','deportivo','la','de','real','fc','cf','ud','las','cd','balompié','rc','de','athletico','atletico','athlético','atlético','atl','ath','athletic']:
            rem.append(el)
    if rem != []:
        for r in rem:
                xt.remove(r)
                


    if len(xt)>1:
        if len(xt[0])>len(xt[1]):
            x = xt[0]
        else:
            x = xt[1]
    else:
        x=xt[0]

    
    for t in list(teams_normalized):
        dist = stringdist.levenshtein(x, t)
        #print(t)
        if dist < distmin:
            #print('................')
            #print(x)
            #print(t)
            #print(dist)
            #print('................')
            distmin = dist
            team =t
    return team

In [6]:
def convert_to_standard_team_names(cnx, league_id, season):

    #.......... df_matches ..........
    
    #Read matches from the season and league specified.
    df_matches = pd.read_sql_query("SELECT * FROM Match WHERE league_id = (?) AND season = (?)", cnx, params=(league_id,season,)) 
    print(f'The shape of df_matches of league:{league_id} and season:{season} is: {df_matches.shape}')

    #Drop columns with not useful information (html text), we will get this information from another dataset from football-data.co.uk
    df_matches = df_matches.drop(columns=['goal', 'shoton', 'shotoff','foulcommit', 'card', 'cross', 'corner', 'possession'])

    #Convert types
    df_matches['date'] = pd.to_datetime(df_matches['date'])
    df_matches['date'] = pd.to_datetime(df_matches['date'],format='%Y%m%d')
    df_matches['stage'] = df_matches['stage'].astype(int)
    
   #To merge data with the other dataset we need a common team id between both datasets. We are going to create a unique string identifier for team names named team_name_id.
    
    
    #In the df_matches we will first include a column with the name of the team extracted from the Team table by means of the team_api_id.
    df_Teams = pd.read_sql_query("SELECT * FROM Team ", cnx)
    df_Teams.head()
    

    # Manually change some names due its difficulty to be treated for our string name procedure.
    df_Teams.loc[df_Teams['team_long_name']=='Athletic Club de Bilbao','team_long_name'] = 'Athletic Bilbao'
    df_Teams.loc[df_Teams['team_long_name']=='Real Sporting de Gijón','team_long_name'] = 'Sporting Gijon'
    
    df_Teams.loc[df_Teams['team_long_name']=='West Bromwich Albion','team_long_name'] = 'West Brom'
    df_Teams.loc[df_Teams['team_long_name']=='West Ham United','team_long_name'] = 'West Ham'
    df_Teams.loc[df_Teams['team_long_name']=='Queens Park Rangers','team_long_name'] = 'QPR'
    df_Teams.loc[df_Teams['team_long_name']=='Stoke City','team_long_name'] = 'Stoke'
    df_Teams.loc[df_Teams['team_long_name']=='Hull City','team_long_name'] = 'Hull'
    df_Teams.loc[df_Teams['team_long_name']=='Bolton Wanderers','team_long_name'] = 'Bolton'
    df_Teams.loc[df_Teams['team_long_name']=='Wolverhampton Wanderers', 'team_long_name'] = 'Wolves'
    
    
    
    
    #First we normalize the names of the teams
    teams_normalized = normalize_team_names(df_Teams['team_long_name'])
    
    #Now we normalize the names of df_Teams 
    df_Teams['team_name_id']= df_Teams['team_long_name'].apply(lambda x: func(x,teams_normalized))

    
    #Now we will have to include names of the teams into de df_matches dataframe, for this we have to merge df_matches with df_Teams on the "team_api_id".
    #Since df_matches just have names of the 'home_team_api_id' and 'away_team_api_id', we will add a new column referring the corresponding teams as 'home_team_name_id' and 'away_team_name_id'.
    df_matches['home_team_name_id']=df_matches.merge(df_Teams[['team_api_id','team_name_id']], left_on='home_team_api_id', right_on='team_api_id',how='left')['team_name_id']
    df_matches['away_team_name_id']=df_matches.merge(df_Teams[['team_api_id','team_name_id']], left_on='away_team_api_id', right_on='team_api_id',how='left')['team_name_id']

    #We finally have the df_matches with the Match Table information but with the home_tema_name_id and away_team_name_id which will be useful to create a common id between the two csv that we want to merge.
    
    #print(df_Teams)
    

    
    #.......... footballdata ..........
    
    #Read matches from the season and league specified.
    location_to_file = 'data/'
    season_footdata = season.replace('/','_').replace('20','') 
    df_footballdata = pd.read_csv(location_to_file+'{0}_{1}.csv'.format(league_id,season_footdata))   
    print(f'The shape of df_footballdata of league:{league_id} and season:{season_footdata} is: {df_footballdata.shape}')
  
    #Convert types    
    df_footballdata['date'] = pd.to_datetime(df_footballdata['Date'])
    df_footballdata['date'] = pd.to_datetime(df_footballdata['date'], format='%Y%m%d')

    
    #Creating same names for teams as the other dataset
    df_footballdata['home_team_name_id'] = df_footballdata['HomeTeam'].apply(lambda x: func(x,teams_normalized))
    df_footballdata['away_team_name_id'] = df_footballdata['AwayTeam'].apply(lambda x: func(x,teams_normalized))
    
    
    
    
    #Creating common match identifier for both datasets (uid)
    df_footballdata['uid']= df_footballdata['home_team_name_id']+df_footballdata['away_team_name_id']
    df_matches['uid']= df_matches['home_team_name_id']+df_matches['away_team_name_id']
    
    return df_matches, df_footballdata

In [7]:
datasets = []
for league_id in leagues_id:
    for season in seasons:
        df_matches, df_footballdata = convert_to_standard_team_names(cnx, league_id, season)
        datasets.append(df_matches.loc[:, :])
        
df_matches_all_seasons_leagues = pd.concat(datasets)

The shape of df_matches of league:21518 and season:2015/2016 is: (380, 115)
The shape of df_footballdata of league:21518 and season:15_16 is: (380, 65)
The shape of df_matches of league:21518 and season:2014/2015 is: (380, 115)
The shape of df_footballdata of league:21518 and season:14_15 is: (380, 68)
The shape of df_matches of league:21518 and season:2013/2014 is: (380, 115)
The shape of df_footballdata of league:21518 and season:13_14 is: (380, 68)
The shape of df_matches of league:21518 and season:2012/2013 is: (380, 115)
The shape of df_footballdata of league:21518 and season:12_13 is: (380, 74)
The shape of df_matches of league:21518 and season:2011/2012 is: (380, 115)
The shape of df_footballdata of league:21518 and season:11_12 is: (380, 71)
The shape of df_matches of league:21518 and season:2010/2011 is: (380, 115)
The shape of df_footballdata of league:21518 and season:10_11 is: (380, 71)
The shape of df_matches of league:21518 and season:2009/2010 is: (380, 115)
The shape of df_footballdata of league:21518 and season:09_10 is: (380, 71)
The shape of df_matches of league:1729 and season:2015/2016 is: (380, 115)
The shape of df_footballdata of league:1729 and season:15_16 is: (380, 64)
The shape of df_matches of league:1729 and season:2014/2015 is: (380, 115)
The shape of df_footballdata of league:1729 and season:14_15 is: (380, 67)
The shape of df_matches of league:1729 and season:2013/2014 is: (380, 115)
The shape of df_footballdata of league:1729 and season:13_14 is: (380, 67)
The shape of df_matches of league:1729 and season:2012/2013 is: (380, 115)
The shape of df_footballdata of league:1729 and season:12_13 is: (380, 73)
The shape of df_matches of league:1729 and season:2011/2012 is: (380, 115)
The shape of df_footballdata of league:1729 and season:11_12 is: (380, 70)
The shape of df_matches of league:1729 and season:2010/2011 is: (380, 115)
The shape of df_footballdata of league:1729 and season:10_11 is: (380, 70)
The shape of df_matches of league:1729 and season:2009/2010 is: (380, 115)
The shape of df_footballdata of league:1729 and season:09_10 is: (380, 70)

In [8]:
## Labels

def res(x,x1):
    if x > x1:
        return 'H'
    elif x < x1:
        return 'A'
    else:
        return 'D'
    
labels = df_matches_all_seasons_leagues.apply(lambda x: res(x['home_team_goal'],x['away_team_goal']), axis =1 )
df_matches_all_seasons_leagues['labels'] = labels




# Simplest model

def predict_lowest_odd(H,D,A):
    if H <= D and H <= A:
        return 'H'
    elif D <= H and D <= A:
        return 'D'
    elif A <= H and A <= D:
        return 'A'
        
predictions = df_matches_all_seasons_leagues.apply(lambda x: predict_lowest_odd(x['B365H'],x['B365D'],x['B365A']), axis =1 )


accuracy_score(labels, predictions)

0.5471804511278195

In [9]:
len(df_matches_all_seasons_leagues)

5320