In [1]:
import pandas as pd

In [2]:
import sqlite3
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)


# Create db connection.
cnx = sqlite3.connect('database.sqlite')

In [3]:
df_league = pd.read_sql_query("SELECT * FROM League", cnx) 

seasons = ['2015/2016','2014/2015','2013/2014','2012/2013','2011/2012','2010/2011','2009/2010']
leagues_id = [21518,1729]

In [4]:
df_league

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

## Taking a look to the Match Table

First of all we filter just the games of the desire league and season

## Cleaning names of teams

In [5]:
import stringdist

# Normalize names 
def normalize_team_names(y):
    teams = []
    for t in list(y):
        tt = t.lower().split()
        rem = []
        cont=0
        #print(tt)
        for el in tt:
            cont +=1
            if el in ['athletico','atletico','athlético','atlético','atl','ath','athletic']: 
                if cont < len(tt):
                    tt[cont]='atl'+tt[cont]
            if el in ['manchester','man','sporting','sp','deportivo','la','de','real','fc','cf','ud','las','cd','balompié','rc','de','athletico','atletico','athlético','atlético','atl','ath','athletic']:
                rem.append(el)
            
                #print(tt)
        if rem != []:
            for r in rem:
                tt.remove(r)
        
        if len(tt)>1:
            if len(tt[0])>len(tt[1]):
                t = tt[0]
            else:
                t = tt[1]
        else:
            t=tt[0]
        #print(t)  
        teams.append(t)
    return teams

#Change name x for the most similar name in the teams_normalized list.
def func(x,teams_normalized):
    dist =0
    distmin=10
    xt = x.lower().split()
    rem = []
    cont=0
    for el in xt:
        cont +=1
        if el in ['athletico','atletico','athlético','atlético','atl','ath','athletic']:
            if cont < len(xt):
                xt[cont]='atl'+xt[cont]
        if el in ['manchester','man','sporting','sp','deportivo','la','de','real','fc','cf','ud','las','cd','balompié','rc','de','athletico','atletico','athlético','atlético','atl','ath','athletic']:
            rem.append(el)
    if rem != []:
        for r in rem:
                xt.remove(r)
                


    if len(xt)>1:
        if len(xt[0])>len(xt[1]):
            x = xt[0]
        else:
            x = xt[1]
    else:
        x=xt[0]

    
    for t in list(teams_normalized):
        dist = stringdist.levenshtein(x, t)
        #print(t)
        if dist < distmin:
            #print('................')
            #print(x)
            #print(t)
            #print(dist)
            #print('................')
            distmin = dist
            team =t
    return team

In [6]:
def convert_to_standard_team_names(cnx, league_id, season):

    #.......... df_matches ..........
    
    #Read matches from the season and league specified.
    df_matches = pd.read_sql_query("SELECT * FROM Match WHERE league_id = (?) AND season = (?)", cnx, params=(league_id,season,)) 
    print(f'The shape of df_matches of league:{league_id} and season:{season} is: {df_matches.shape}')

    #Drop columns with not useful information (html text), we will get this information from another dataset from football-data.co.uk
    df_matches = df_matches.drop(columns=['goal', 'shoton', 'shotoff','foulcommit', 'card', 'cross', 'corner', 'possession'])

    #Convert types
    df_matches['date'] = pd.to_datetime(df_matches['date'])
    df_matches['date'] = pd.to_datetime(df_matches['date'],format='%Y%m%d')
    df_matches['stage'] = df_matches['stage'].astype(int)
    
   #To merge data with the other dataset we need a common team id between both datasets. We are going to create a unique string identifier for team names named team_name_id.
    
    
    #In the df_matches we will first include a column with the name of the team extracted from the Team table by means of the team_api_id.
    df_Teams = pd.read_sql_query("SELECT * FROM Team ", cnx)
    df_Teams.head()
    

    # Manually change some names due its difficulty to be treated for our string name procedure.
    df_Teams.loc[df_Teams['team_long_name']=='Athletic Club de Bilbao','team_long_name'] = 'Athletic Bilbao'
    df_Teams.loc[df_Teams['team_long_name']=='Real Sporting de Gijón','team_long_name'] = 'Sporting Gijon'
    
    df_Teams.loc[df_Teams['team_long_name']=='West Bromwich Albion','team_long_name'] = 'West Brom'
    df_Teams.loc[df_Teams['team_long_name']=='West Ham United','team_long_name'] = 'West Ham'
    df_Teams.loc[df_Teams['team_long_name']=='Queens Park Rangers','team_long_name'] = 'QPR'
    df_Teams.loc[df_Teams['team_long_name']=='Stoke City','team_long_name'] = 'Stoke'
    df_Teams.loc[df_Teams['team_long_name']=='Hull City','team_long_name'] = 'Hull'
    df_Teams.loc[df_Teams['team_long_name']=='Bolton Wanderers','team_long_name'] = 'Bolton'
    df_Teams.loc[df_Teams['team_long_name']=='Wolverhampton Wanderers', 'team_long_name'] = 'Wolves'
    
    
    
    
    #First we normalize the names of the teams
    teams_normalized = normalize_team_names(df_Teams['team_long_name'])
    
    #Now we normalize the names of df_Teams 
    df_Teams['team_name_id']= df_Teams['team_long_name'].apply(lambda x: func(x,teams_normalized))

    
    #Now we will have to include names of the teams into de df_matches dataframe, for this we have to merge df_matches with df_Teams on the "team_api_id".
    #Since df_matches just have names of the 'home_team_api_id' and 'away_team_api_id', we will add a new column referring the corresponding teams as 'home_team_name_id' and 'away_team_name_id'.
    df_matches['home_team_name_id']=df_matches.merge(df_Teams[['team_api_id','team_name_id']], left_on='home_team_api_id', right_on='team_api_id',how='left')['team_name_id']
    df_matches['away_team_name_id']=df_matches.merge(df_Teams[['team_api_id','team_name_id']], left_on='away_team_api_id', right_on='team_api_id',how='left')['team_name_id']

    #We finally have the df_matches with the Match Table information but with the home_tema_name_id and away_team_name_id which will be useful to create a common id between the two csv that we want to merge.
    
    #print(df_Teams)
    

    
    #.......... footballdata ..........
    
    #Read matches from the season and league specified.
    location_to_file = 'data/'
    season_footdata = season.replace('/','_').replace('20','') 
    df_footballdata = pd.read_csv(location_to_file+'{0}_{1}.csv'.format(league_id,season_footdata))   
    print(f'The shape of df_footballdata of league:{league_id} and season:{season_footdata} is: {df_footballdata.shape}')
  
    #Convert types    
    df_footballdata['date'] = pd.to_datetime(df_footballdata['Date'])
    df_footballdata['date'] = pd.to_datetime(df_footballdata['date'], format='%Y%m%d')

    
    #Creating same names for teams as the other dataset
    df_footballdata['home_team_name_id'] = df_footballdata['HomeTeam'].apply(lambda x: func(x,teams_normalized))
    df_footballdata['away_team_name_id'] = df_footballdata['AwayTeam'].apply(lambda x: func(x,teams_normalized))
    
    
    
    
    #Creating common match identifier for both datasets (uid)
    df_footballdata['uid']= df_footballdata['home_team_name_id']+df_footballdata['away_team_name_id']
    df_matches['uid']= df_matches['home_team_name_id']+df_matches['away_team_name_id']
    
    return df_matches, df_footballdata

In [7]:
def merge_matchtable_footballdata(season,league_id):
    
    df_matches, df_footballdata = convert_to_standard_team_names(cnx, league_id, season)
    
#     print((df_matches[['home_team_name_id','away_team_name_id','uid']]))
     
#     print((df_footballdata[['home_team_name_id','away_team_name_id']]))

#     print((df_matches['uid'].sort_values(ascending=True)))
#     print((df_footballdata['uid'].sort_values(ascending=True)))
    
    if len(set(df_matches['uid']).symmetric_difference(set(df_footballdata['uid']))) > 0:
        print('Names of uid of both datasets do not match.')
        print('CAUTION!!!! THE FOLLOWING NAMES HAVE DIFFERENT SPELLING IN THE TWO DATASETS: ',
              set(df_matches['uid']).symmetric_difference(set(df_footballdata['uid'])))
    
    # Merging both datasets
    df_complete_league_year = pd.merge(df_matches, df_footballdata[['FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY','AY', 'HR', 'AR','uid']], on='uid', how='inner')
    
    print(f'df_complete_league_year shape: {df_complete_league_year.shape}')

    
    
    # Implementing models with Real Data as the guys from Stanford suggest.
    # We create the dataset as it is stated at: 
    # *Shin, JongHo and Robert Gasparyan. “A novel way to Soccer Match Prediction.” (2014).*
    
    #Sort per date.
    df_complete_league_year['date'] = pd.to_datetime(df_complete_league_year['date'])
    df_complete_league_year=df_complete_league_year.sort_values(by='date')

    #We keep just the data need it for this.
    df_matches_info = df_complete_league_year[['id','uid','date','stage','home_team_name_id','away_team_name_id','FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY','AY', 'HR', 'AR']]  
    df_matches_info[['FTHG', 'FTAG', 'HTHG', 'HTAG', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF','HC', 'AC', 'HY','AY', 'HR', 'AR']] = df_matches_info.loc[:,['FTHG', 'FTAG', 'HTHG', 'HTAG', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF','HC', 'AC', 'HY','AY', 'HR', 'AR']].astype(float)

    
    #Creating a column for the labels
    labels = df_matches_info["FTR"]
    df_matches_info = pd.get_dummies(df_matches_info, columns=["FTR", "HTR"])
    df_matches_info['labels'] = labels

    #Creating the mean of each columns taking the past mathces (rows)
    df_stanford_model = df_matches_info.copy()
    df_stanford_model[['FTHG_mean','HTHG_mean','HS_mean','HST_mean','HF_mean','HC_mean','HY_mean','HR_mean','H_FTR_A_mean','H_FTR_D_mean','H_FTR_H_mean','H_HTR_A_mean','H_HTR_D_mean','H_HTR_H_mean']]= df_stanford_model.groupby('home_team_name_id')['FTHG','HTHG','HS','HST','HF','HC','HY','HR','FTR_A','FTR_D','FTR_H','HTR_A','HTR_D','HTR_H'].apply(lambda x:x.expanding().mean().shift())
    df_stanford_model[['FTAG_mean','HTAG_mean','AS_mean','AST_mean','AF_mean','AC_mean','AY_mean','AR_mean','A_FTR_A_mean','A_FTR_D_mean','A_FTR_H_mean','A_HTR_A_mean','A_HTR_D_mean','A_HTR_H_mean']]= df_stanford_model.groupby('away_team_name_id')['FTAG','HTAG','AS','AST','AF','AC','AY','AR','FTR_A','FTR_D','FTR_H','HTR_A','HTR_D','HTR_H'].apply(lambda x:x.expanding().mean().shift())

    #Selecting features
    df_stanford_real_features = df_stanford_model[['id','stage','date','home_team_name_id','away_team_name_id','labels','FTHG_mean','HTHG_mean','HS_mean','HST_mean','HF_mean','HC_mean','HY_mean','HR_mean','H_FTR_A_mean','H_FTR_D_mean','H_FTR_H_mean','H_HTR_A_mean','H_HTR_D_mean','H_HTR_H_mean','FTAG_mean','HTAG_mean','AS_mean','AST_mean','AF_mean','AC_mean','AY_mean','AR_mean','A_FTR_A_mean','A_FTR_D_mean','A_FTR_H_mean','A_HTR_A_mean','A_HTR_D_mean','A_HTR_H_mean']]

    #Explanation of name of columns
    pd.set_option('display.max_colwidth',120)
    exp = pd.DataFrame({'abbreviations':df_stanford_real_features.columns,'Explanation':['id of the match','stage','date','home_team_name_id','away_team_name_id','labels','Mean of Full Time Home Team Goals','Mean of Half Time Home Team Goals','Mean of Home Team Shots','Mean of Home Team Shots on Target','Mean of Home Team Fouls Committed','Mean of Home Team Corners','Mean of Home Team Yellow Cards','Mean of Home Team Red Cards','Mean of games lost at home for the Home Team','Mean of games draw at home for the Home Team','Mean of games won at home for the Home Team ','Mean of games lost at Half Time at home for the Home Team','Mean of games draw at Half Time at home for the Home Team','Mean of games won at Half Time at home for the Home Team','Mean of Full Time Away Team Goals','Mean of Half Time Away Team Goals','Mean of Away Team Shots','Mean of Away Team Shots on Target','Mean of Away Team Fouls Committed','Mean of Away Team Corners','Mean of Away Team Yellow Cards','Mean of Away Team Red Cards','Mean of games won away for the Away Team','Mean of games draw away for the Away Team','Mean of games lost Away for the Away Team ','Mean of games won at Half Time away for the Away Team','Mean of games draw at Half Time away for the Away Team','Mean of games lost at Half Time away for the Away Team']})
    #print(exp)
    
    #Save df in csv
    season_footdata = season.replace('/','_').replace('20','') 
    df_stanford_real_features.to_csv(f'data/df_stanford_real_features_{league_id}_{season_footdata}.csv',index=False)

    
    return df_stanford_real_features

In [8]:
datasets = []
for league_id in leagues_id:
    for season in seasons:
        dataset_season = merge_matchtable_footballdata(season,league_id)
        datasets.append(dataset_season.loc[:, :])
        
df_stanford_real_features_ALL_SEASONS = pd.concat(datasets)

The shape of df_matches of league:1729 and season:2015/2016 is: (380, 115)
The shape of df_footballdata of league:1729 and season:15_16 is: (380, 65)
df_complete_league_year shape: (380, 128)

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

The shape of df_matches of league:1729 and season:2014/2015 is: (380, 115)
The shape of df_footballdata of league:1729 and season:14_15 is: (380, 68)
df_complete_league_year shape: (380, 128)
The shape of df_matches of league:1729 and season:2013/2014 is: (380, 115)
The shape of df_footballdata of league:1729 and season:13_14 is: (380, 68)
df_complete_league_year shape: (380, 128)
The shape of df_matches of league:1729 and season:2012/2013 is: (380, 115)
The shape of df_footballdata of league:1729 and season:12_13 is: (380, 74)
df_complete_league_year shape: (380, 128)
The shape of df_matches of league:1729 and season:2011/2012 is: (380, 115)
The shape of df_footballdata of league:1729 and season:11_12 is: (380, 71)
df_complete_league_year shape: (380, 128)
The shape of df_matches of league:1729 and season:2010/2011 is: (380, 115)
The shape of df_footballdata of league:1729 and season:10_11 is: (380, 71)
df_complete_league_year shape: (380, 128)
The shape of df_matches of league:1729 and season:2009/2010 is: (380, 115)
The shape of df_footballdata of league:1729 and season:09_10 is: (380, 71)
df_complete_league_year shape: (380, 128)

In [9]:
seasons_data = []
for season in seasons:
    seasons_data.append(season.replace('/','_').replace('20',''))

location_to_file = 'data/'
df_stanford_real_features_ALL_SEASONS.to_csv(location_to_file+f'df_stanford_real_features_leagues_{leagues_id}_seasons_{seasons_data}.csv',index=False)

In [10]:
df_stanford_real_features_ALL_SEASONS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2660 entries, 1 to 311
Data columns (total 34 columns):
id                   2660 non-null int64
stage                2660 non-null int64
date                 2660 non-null datetime64[ns]
home_team_name_id    2660 non-null object
away_team_name_id    2660 non-null object
labels               2660 non-null object
FTHG_mean            2520 non-null float64
HTHG_mean            2520 non-null float64
HS_mean              2520 non-null float64
HST_mean             2520 non-null float64
HF_mean              2520 non-null float64
HC_mean              2520 non-null float64
HY_mean              2520 non-null float64
HR_mean              2520 non-null float64
H_FTR_A_mean         2520 non-null float64
H_FTR_D_mean         2520 non-null float64
H_FTR_H_mean         2520 non-null float64
H_HTR_A_mean         2520 non-null float64
H_HTR_D_mean         2520 non-null float64
H_HTR_H_mean         2520 non-null float64
FTAG_mean            2520 non-null float64
HTAG_mean            2520 non-null float64
AS_mean              2520 non-null float64
AST_mean             2520 non-null float64
AF_mean              2520 non-null float64
AC_mean              2520 non-null float64
AY_mean              2520 non-null float64
AR_mean              2520 non-null float64
A_FTR_A_mean         2520 non-null float64
A_FTR_D_mean         2520 non-null float64
A_FTR_H_mean         2520 non-null float64
A_HTR_A_mean         2520 non-null float64
A_HTR_D_mean         2520 non-null float64
A_HTR_H_mean         2520 non-null float64
dtypes: datetime64[ns](1), float64(28), int64(2), object(3)
memory usage: 727.3+ KB